* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  background-color: #115c08;
  height: 663px;
}

.login-container {
  align-items: center;
  background: #45a55d;
  border-radius: 0.5rem;
  color: #0a0a0a;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  margin-left: 80px;
  padding: 1rem;
  text-align: center;
  width: 500px;
  height: 300px;
}

.button {
  width: 150px;
  border-radius: 0.5rem;
  border: none;
  height: 20px;
}

.login-input-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.login-input-container,
input {
  border: none;
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 0.5rem;
  width: 300px;
}

.img {
  display: flex;
  width: 400px;
  margin-left: 150px;
  margin-top: 60px;
}
